# dependencies
node_modules/

# Next.js
.next/
out/
*.tsbuildinfo
.tmp/

# production
build/
dist/

# local env
.env
.env*.local
.vercel/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
